<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Sign-up Form</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
    <form class="box" action="index.htyml" method="post">
        <h1>Sign up</h1>
        <input type="text" name="" placeholder="Username">
        <input type="password" name="" placeholder="Password">
        <input type="password" name="" placeholder="retipe Password">
        <input type="submit" name="" value="Sign up">
    </form>
</body>
</html>
